<div class="detail-wrapper row" *ngFor="let workDetail of workData">    
    <div class="container top-panel" [ngStyle]="{'background-image': 'url('+ workDetail.project_image + ')'}">
        <div class="row">
            <div class="col-md-12">
                <h1>{{workDetail.project_name}}</h1>
            </div>
        </div>      
    </div>
    <div class="container detail-holder">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                jnjjjjjj
                </div>
            </div>
        </div>
    </div>
</div>