<div class="overlay-menu">
	<button (click)="openMenu()" class="menu-close">Close</button>
		<nav>
			<ul>
				<li appStrikethrough>
					<span class="number">א</span>
					<a [routerLink]="['']">Home</a>
					<span class="arrow"></span>
				</li>
				<li appStrikethrough>
					<span class="number">ב</span>
					<a href="#">Case Studies</a>
					<span class="arrow"></span>
				</li>
				<li appStrikethrough>
					<span class="number">ג</span>
					<a [routerLink]="['work']">Work</a>
					<span class="arrow"></span>
				</li>
				<li appStrikethrough>
					<span class="number">ד</span>
					<a [routerLink]="['about']">About</a>
					<span class="arrow"></span>
				</li>
				<li appStrikethrough>
					<span class="number">ה</span>
					<a href="#">Contact</a>
					<span class="arrow"></span>
				</li>
				<li appStrikethrough>
					<span class="number">ו</span>
					<a href="#">Social Media</a>
					<span class="arrow"></span>
				</li>
			</ul>
		</nav>
</div>
