<div class="work-wrapper">
	<div class="container top-panel">
		<div class="row">
			<div class="col-md-12">
				<!-- <button (click)="onTestGet()">Test Get Request</button><br/>
				<p>Output: {{getData}}</p>
				<button (click)="onTestPost()">Test Post Request</button><br/>
				<p>Output: {{postData}}</p> -->
				<h1>Work</h1>
			</div>
		</div>
	</div>
	<div class="container work-holder">
		<div class="row">
			<div class="col-md-12">
				<!-- <button (click)="onTestGet()">Test Get Request</button><br/>
				<p>Output: {{getData}}</p>
				<button (click)="onTestPost()">Test Post Request</button><br/>
				<p>Output: {{postData}}</p> -->
				<div class="row">
					<app-work-item
						class="workItem" 
						*ngFor="let workItem of workItems"
						[workItem]="workItem"
						ngClass="{{workItem.className}}"
					>	
					</app-work-item>
				</div>
			</div>
		</div>
	</div>
</div>
