<div class="col-md-4 work-item-wrapper" [ngStyle]="{'background-image': 'url(http://emmancipatemusemwa.com/img/trigon_brochure_full.jpg)'}">
    <figure class="effect-layla">
        <div  class="box">
            <figcaption>
                <div class="projectTitle">
                    <h2>TITLE OF PROJECTHHH JJJJJJJJJJJJJ</h2>
                </div>
                <div class="category">
                    <span class="categoryTitle">CATEGORY <br>
                        <hr/>
                    </span>
                    <span appStrikethrough class="viewProject"> 
                        <hr/><br/>
                        VIEW PROJECT<i class="arrow"></i> 
                    </span>
                </div>
            </figcaption>
        </div>
    </figure>
</div>